<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373098498516-ec88qsutjund4ln9e47q9k0ekr8g7f8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373098498516-ec88qsutjund4ln9e47q9k0ekr8g7f8c</string>
	<key>API_KEY</key>
	<string>AIzaSyDrC-UJVVZcL8YW2kps340VilSV7a1Z3_g</string>
	<key>GCM_SENDER_ID</key>
	<string>373098498516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EZPZ.EZPZJobFinder</string>
	<key>PROJECT_ID</key>
	<string>ezpz-cfad1</string>
	<key>STORAGE_BUCKET</key>
	<string>ezpz-cfad1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373098498516:ios:58d8bcc801c6a680e16e41</string>
	<key>DATABASE_URL</key>
	<string>https://ezpz-cfad1.firebaseio.com</string>
</dict>
</plist>